@import '/design-tokens/tokens.scss';

body{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

@media screen and (max-width: 795px){
    .section-title{width: 52vw;}
   
}

@media screen and (min-width: 796px ) and (max-width: 1300px){
    .section-title{width: 30vw;}
}

@media screen and (min-width: 1301px){
    .section-title{width: 18vw;}
}

.section-title{
    margin: 0 auto;
    background-color: white;
    text-align: center;
    padding:1%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.section-title h1{
    color: $dark;
    font-family: 'Amatic SC', cursive;
    font-size: 4rem;
    text-decoration: underline;
}