@import '../../design-tokens/tokens.scss';

@media screen and (max-width: 800px){
  #home{
    width: 100vw;
    margin-left: 0;
  }
}

@media screen and (min-width: 801px){
  #home{
    margin-left: 20vw;
    width: 80vw;
  }
}

#home{
    height: 100vh;
    padding-bottom: 5%;
}


.square{
    position: absolute;
    top: 28%;
    left: 30%;
    width: 28vw;
    height: 28vw;
    transform: rotate(130deg);
    background-color: $grey;
    z-index: -1;
  }

.triangle{
  position: absolute;
  top: 10%;
  left: 63%;
  width: 0;
  height: 0;
  border-left: 10vw solid transparent;
  border-right: 10vw solid transparent;
  border-bottom: 39.5vh solid $pink;
}

.circle{
  position: absolute;
  top: 20%;
  left: 55%;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background-color: $light-pink;
}


// MAIN TITLE WITH TYPEWRITER EFFECT

.typewriter{
    position: relative;
    top: 50%;
    margin: 0 auto;
    width: 57vw;
    background-color: $light-grey;
    padding: 2%;
}

.typewriter h1 {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 3rem;
    color: $dark;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid $light-pink; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

//   @keyframes backspace {
//       from {width: 100%}
//       to {width: 0%}
//   }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color:$light-pink; }
  }