@import '../../design-tokens/tokens.scss';

// @media screen and (max-width: 1500px){
@media screen and (max-width: 800px){
    #space{
      width: 100vw;
      margin-left: 0;
    }
  }
  
  // @media screen and (min-width: 1501px){
  @media screen and (min-width: 801px){
    #space{
      margin-left: 20vw;
      width: 80vw;
    }
  }


#space{
    height: 60vh;
    background: linear-gradient(rgba(250, 128, 114,0.8), $pink), url("../../practise.jpg");
}    


