@import '../../design-tokens/tokens.scss';


// @media screen and (max-width: 800px){
@media screen and (max-width: 600px){

    .card-container, .light-container{
        margin: 10% 3% 5%;
        width: 55vw;
        max-height: 60vh;
    }
    .card-content-container{
        padding: 10% 5%;
    }
}

// @media screen and (min-width: 801px) and (max-width: 1150px){
    // @media screen and (max-width: 800px) and (min-width: 601px){
    @media screen and (max-width: 1019px) and (min-width: 601px){
    .card-container, .light-container{
        margin: 7% 3% 5%;
        width: 30vw;
        height: 60vh;
    }
    .card-content-container{
        padding: 5%;
    }
}

// @media screen and (min-width: 1151px) and (max-width: 1500px){
//     @media screen and (min-width: 801px) and (max-width: 1019px){
//         .card-container, .light-container{
//             margin: 7% 3% 5%;
//             width: 30vw;
//             height: 60vh;
//         }
//         .card-content-container{
//             padding: 10%;
//         }
// }

// @media screen and (min-width: 1501px){
    @media screen and (min-width: 1020px){
    .card-container, .light-container{
        margin: 5% 3% 0;
        width: 20vw;
        height: 60vh;
    }
    .card-content-container{
        padding: 10%;
    }
}

.light-container{
    background-color: $light-grey;  
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: .2s ease-in; 

    &:hover{
        transform: scale(1.1);
    }

    a{text-decoration: none;}
}

.card-container{
    background: linear-gradient(45deg #F8F4E3, #2A2B2A );
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: .2s ease-in; 

    &:hover{
        transform: scale(1.1);
    }

    a{text-decoration: none;}
}

.card-image-container{
    height: 35%;

    img{
        padding: 2.5%;
        max-width: 95%;
        height: auto;
        opacity: 0.8;
    }

}

.card-content-container{
    
    text-align: center;
    color: $grey;

}

.card-title{


    @media screen and (max-height: 641px){
        font-size: 1rem;
    }

    @media screen and (min-height: 642px){
        font-size: 2rem;
    }
    font-family: 'Amatic SC', cursive;
    

}

.card-information{
    @media screen and (max-height: 641px){
        font-size: 0.6rem;
    }

    @media screen and (min-height: 642px){
        font-size: 1.2rem;
    }
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}