@import '../../design-tokens/tokens.scss';
@media screen and (max-width: 1500px){
    #portfolio{
      width: 100vw;
      margin-left: 0;
    }
  }
  
  @media screen and (min-width: 1501px){
    #portfolio{
      margin-left: 20vw;
      width: 80vw;
    }
  }


#portfolio{
  background: linear-gradient(0deg, rgba(248, 244, 227, 0.5), rgba(248, 244, 227, 0.5)), url("../../practise.jpg");
  padding-top: 5%;

    .portfolio-card-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 5%;
    }
}

