@import '../../design-tokens/tokens.scss';

@media screen and (max-width: 1500px){
    .nav-link {
        color: black;
        padding: 5% 0;
    }
}

@media screen and (min-width: 1501px){
    .nav-link {
       color: $light-grey;
       padding: 5% 0;
    }

}

.nav-link{
    display: block;

    text-decoration: none;
    transition: .5s ease-in;
    font-family: $font-sub;
    font-weight: 200;
    letter-spacing: 0.3rem;
    font-size: 1.5rem;



    &:hover{
        font-size: 3rem;
        
    }
}

