@import '../../design-tokens/tokens.scss';


@media screen and (max-width: 1500px){
    .nav-container {
        background-color: none;
        width: 20vw;
        left: 20px;
        top: 0; 
        
    }
    .closed{
        display: none;
    }
    .active{
        display: block;

    }
    .icon-black{
        display: block;
    }
    .icon-white{
        display: none;
    }
}

@media screen and (min-width: 1501px){
    .nav-container {
        background-color: black;
        height: 110vh;
        width: 20vw; 
        left: 0;
        top: 0; 
    }
    .icon-black{
        display: none;
    }
    .icon-white{
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .nav-links-container{
    text-align: center;
    }
}



.nav-container {
    z-index: +3;
    position: fixed;
 
}

.icon-white , .icon-black{
    
   padding: 8% 0 20% 0;

   transition: .5s ease-in;


   &:hover{
       transform: scale(1.2);
       cursor: pointer;
       
   }
}
