@import '../../design-tokens/tokens.scss';


// @media screen and (max-width: 1500px){
@media screen and (max-width: 1019px){
    #contact{
      width: 100vw;
      margin-left: 0;
    }
  }
  
  // @media screen and (min-width: 1501px)
@media screen and (min-width: 1020px){
    #contact{
      margin-left: 20vw;
      width: 80vw;
    }
  }

#contact{
  background: linear-gradient(0deg, rgba(248, 244, 227, 0.5), rgba(248, 244, 227, 0.5)), url("../../practise.jpg");

  padding-top: 5%;
}

.socials{

        display: flex; 
        justify-content: center;
       
}