@import '../../design-tokens/tokens.scss';

@media screen and (max-width: 800px){
    #tech2{
      width: 100vw;
      height: 80%;

      .typewriter{
        margin: 0 auto;
        width: 80%;      
      }
      .title-large-screen{
        display:none;
      }
      .title-small-screen{
      display: block;
      }

      #square{
        width: 40vw;
        height: 40vw;
      }
  }
}

  @media screen and (max-width: 1019px) and (min-width: 801px){
    #tech2{
      width: 80vw;
      margin-left:20vw;
        .typewriter{
          // top: 50px;
          margin: 0 auto;
          width: 70%; 
      }
      }

    
    .title-large-screen{
        display:none;
    }

    .title-small-screen{
        display: block;
    }
  }
  
  @media screen and (min-width: 1019px){
    #tech2{
      
      margin-left: 20vw;
      width: 80vw;
      height: 60vh;
    .typewriter{
      top: 10%;
      width:70%;
      margin: 0 auto;
      
  }
    }
    
    .title-large-screen{
        display: block;
    }
    .title-small-screen{
        display: none;
    }
  }



#tech2{
  background: linear-gradient(rgba(250, 128, 114,0.8), $pink), url("../../practise.jpg");
  padding-bottom:10%;

    .typewriter{
      position: relative;
      padding: 1%;
  }
}

.square-container{
  
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap ;
    
}

#square{

    z-index: +1;
    text-align: center;
    margin: 5% 2% 8%;
   

    @media screen and (max-height: 800px){
      
    }

    @media screen and (max-height: 900px) and (min-height: 801px){
      width: 20vw;
      height: 20vw;
    }
   
    @media screen and (min-width: 901px){
      width: 15vw;
      height: 15vw;
    }

    h3{
      color: $dark;
      bottom: 5%;
            
    }
    img{
       padding-top: 15%;
    } 

}



